<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('templates', filename = 'Estilizações/Nperigosos.css')}}">
    <title>Fungos que podem ser consumidos</title>
</head>
<body>
     <a href="url_for{{Fungos}}" class="botao">⭠ Home</a>
    

    <div class="formato">
        <strong><h1>Fungos comestíveis</h1></strong>
       <p class="explicacao">
       São aqueles consumidos na culinária por seu sabor e valor nutricional.Esses cogumelos são amplamente cultivados e seguros para consumo,
        desde que sejam adquiridos de fontes confiáveis. No Brasil, alguns dos mais populares incluem:
</p>
<br>
<br>
<strong><h2>Fungos alimentícios</h2></strong>
 <p>
      <ul>
        <li>Champignon (Agaricus bisporus): o mais consumido, com sabor suave e textura macia;</li>
        <li>Shiitake (Lentinula edodes): possui sabor marcante e é muito utilizado em pratos asiáticos;</li>
        <li>Shimeji (Pleurotus spp.): apresenta sabor delicado e é comum em refogados e grelhados;</li>
        <li>Portobello: variedade do champignon, com chapéu maior e textura mais firme;</li>
        <li>Cantarelo (Cantharellus cibarius): reconhecido por seu sabor levemente picante e aroma frutado.</li>
      </ul> 
</p>


    </div>
</body>
</html>