<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('templates', filename = 'Estilizações/Perigosos.css')}}">
    <title>Fungos considerados Perigosos</title>
</head>
<body>
    
 <a href="url_for{{Fungos}}" class="botao">⭠ Home</a>
    <div class="formato">
        <h1>Fungos Perigosos</h1>
       <p class="explicacao">
        Alguns fungos podem ser tóxicos ou patogênicos para os seres humanos. É importante diferenciá-los dos comestíveis para evitar intoxicações ou infecções.
</p>
<br>
<br>

<strong><h2>Fungos venenosos</h2></strong>
 <p>
      <ul>
        <li>Amanita phalloides (cogumelo da morte): Contém amatoxinas que afetam o fígado e rins, podendo ser fatal se ingerido.</li>
        <li>Amanita muscaria: Possui alcaloides que causam alucinações e podem ser tóxicos.</li>
        <li>Galerina marginata: Semelhante à Amanita, contém amatoxinas e é letal se consumido</li>
      </ul> 
</p>
<strong><h2>Fungos Patogênicos </h2></strong>
    <p>
      <ul>
        <li>Aspergillus fumigatus: Causa aspergilose, afetando principalmente pulmões e seios nasais. É especialmente perigoso para indivíduos imunocomprometidos;</li>
        <li>Candida auris: Levedura resistente a antifúngicos, pode causar infecções graves em hospitais;</li>
        <li>Cladophialophora bantiana: Causa infecções cerebrais raras, com alta taxa de mortalidade.</li>
      </ul> 
</p>

    </div>
</body>
</html>