body{
    
    background:linear-gradient(to bottom right,black ,dimgray);
    z-index: 1;
    height:100vh;
    

}

.formato{
    border-radius: 13px;
    width: 60%;   
    margin: 20px auto;        
    padding: 30px 40px;   
    box-shadow: 0 0 10px silver,0 0 10px gray;
    z-index: 2;
    margin-top:50px;
}
h1{
    text-align: center;
    font-size:40px;
    color:white;

}

.explicacao{
    color:dodgerblue;
    font-size:20px;
    text-align: justify;
}
h2{
    color:burlywood;
}
li{
    color:white;
    font-size:20px;
    text-align: justify;
    margin-bottom: 10px;
}

.botao{

    position: fixed;
    bottom: 50%;
    left: 2%;
    width: 120px;
    height: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 16px / 24px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    background-color:dodgerblue;
    transition: 0.3s ease;
}
.botao:hover{
    background-color: steelblue;
    color: black;
}