<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('templates', filename = 'Estilizações/Fungos.css')}}">
    </head>
    <body>


          <h1>ScanFungi</h1>
          <br>
        <p>Um site para ver o nivel de periculosidade de um fungo</p>
        <p style="color: cadetblue;">Veja mais informações selecionando um dos cards</p>
        <a href="url_for{{formulario}}" class="botao">Formulário ⭢</a>
    <div class="cartoes">
         
        <nav class="navegation">
            <a href="url_for{{sobre}}">Sobre</a>
            <a href="">ArtigoS/a>
            <a href="">Github</a>
        </nav>

            <div class="cartao c1"> 
              <a href="url_for{{NPerigosos}}" class="bt np">

                <b> Não perigosos </b>
                <span class="descricao">Que podem ser consumidos e não fazem mal</span>
              </a>

            </div> 
        
        <div class="cartao c2">
            <a href="url_for{{Perigosos}}" class="bt np">

                <b> Perigosos </b>
                 <span class="descricao">São comestiveis mas apenas 1 vez</span>
            </a>
        </div>
       


    </div>
    <footer> © João Guilherme, Renan Aprigio, Artur Tomé, Matheus Henrique</footer>
    </body>