<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('templates', filename = 'Estilizações/sobre.css')}}">
    <title>Sobre o projeto</title>
</head>
<body>
    
    <a href="url_for{{Fungos}}" class="botao">⭠ Home</a>
    <div class="formato">
        <h1>Sobre o Projeto</h1>
       <p class="explicacao">
        A proposta do projeto foi desenvolver um site que, por meio de uma IA treinada com os dados do dataset [Nome_Dataset],
        analisa as respostas enviadas de um formulário e classifica o nível de periculosidade, podendo ser: comestível ou perigoso.
</p>
<br>
<br>
<div class="integrantes">
<h1>Os integrantes e suas contribuições</h1>
<div class="m MA">
    <h2> João Guilherme Lopes Fonseca</h2>
    <p>Responsável pelo Desenvolvimento do Front-End do site</p>
    <a href="https://github.com/Guilherme-lopes-F">🔗 Meu Github</a>
</div>

<div class="m MB">
    <h2>Renan Aprigio Dias de Moura</h2>
    <p>Responsável pelo Back-End para fazer a ligação do Front + IA</p>
    <a href="https://github.com/renandias3158">🔗 Meu Github</a>
</div>

<div class="m MC">
    <h2>Artur Tomé Xavier</h2>
    <p>Responsável pelo desenvolvimeto e treinamento da IA</p>
    <a href="https://github.com/ArturTome">🔗Meu Github</a>
</div>
<div class="m MD">
    <h2>Matheus Henrique </h2>
    <p>Responsável por coletar os artigos, reunir o banco de dados e elaborar o artigo do projeto.</p>
    <a href="https://github.com/matheushenrique408">🔗Meu Github</a>
</div>

</div>
    </div>
</body>

</html>

